@model IEnumerable<ShoppingWithCart.tblProductDtl>

@{

    ViewBag.Title = "Home Page";
}
<style>
    .row {
         margin-right: 0px; 
         margin-left: 0px; 
    }
    .demo-card-square.mdl-card {
        width: 300px;
        height: 300px;
        padding: 0px;
        
    }
    .demo-card-square {
        margin:10px;
    }


    .demo-card-square > .mdl-card__title {
        color: #fff;
        background-color: lightgreen;
    }
    .mdl-card__title-text {
        overflow: hidden;
        font-size:medium;
    }

    .mdl-card__media {
        background-color: white;
        margin: 12px;
    }
    #description{
        color: rgba(0,0,0,.54);
        font-size: 1rem;
        line-height: 18px;
        overflow: hidden;
        padding: 16px;
        width: 90%;
    }

    .mdl-card__supporting-text {
        color: rgba(0,0,0,.54);
         font-size: 2rem;
        /*line-height: 0px;*/
        overflow: hidden;
        padding: 16px;
        width: 90%;
    }

    .mdl-button--raised.mdl-button--colored {
        background: #1c6b68;
        color: #fff;
    }
</style>

<h3> Products</h3>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="demo-card-square mdl-card mdl-shadow--2dp col-lg-3 col-xs-12 col-md-4">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text mdl-card-square">@item.productName</h2>
                </div>

                <div class="mdl-card__media">
                    <img src="@item.imagePath" width="58" height="120" border="0" alt="" style="padding:0px;">
                    <span id="description">@item.description</span>
                </div>

                <div class="mdl-card__supporting-text">
                    <b>₹@string.Format("{0:#,0}", item.price)</b> 
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" onclick="AddToCart(@item.productId)">ADD TO CART</a>
                </div>
            </div>
        }
    </div>